//Declare all styles her at main component level using just the declared ids

.App {
  text-align: center;
}
#ProductivityChart_container {
    float:left;
    
}
#TaskList_container {
    float: left;
    text-align: center;
}
#MainContainer_container {   
    overflow: auto;
}
#MainContainer_footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #00bbd4;
  text-align: center;
  color: white;
  font-weight: bold;
    font-size: 12px;
}
